.taskList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
}

.addButton {
    border-width: 2px;
    border-color: #cbd5e1;
    color: #a0aec0;
    width: 100%;
    border-radius: 0.5rem;
    border-style: dashed;
    transition-duration: 0.2s;
    height: 64px;
    font-size: 20px;
}

.addButton:hover{
    background-color: #e2e8f0;
      color: #718096;

}

.taskItem {
    background-color: #3E4396;
    border-radius: 0.5rem;
    padding: 0.75rem;
    display: grid;
    text-align: left;
    transition-duration: 0.2s;
    width: 200px;
    font-size: 20px;
}

.taskItem:hover{
      box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 1px rgba(35, 20, 25, 0.1);
}

.infoTask{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 6px;
    place-items: center;
    justify-content: space-between;
}

